.header__logo {
  margin: 0;
  width: 142px;
  margin-bottom: 41px;
}

@media screen and (max-width: 1023px) {
  .header__logo {
    width: 124px;
    margin-left: 27px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 103.74px;
    margin-left: 27px;
    margin-bottom: 31.6px;
  }
}
