.layout {
  display: grid;
  grid-template-areas:
    "header header header"
    "content content content"
    "footer footer footer";
  grid-template-columns: 1fr;
  max-width: 1280px;
  margin: 0 auto;
}