.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1023px) {
  .profile {
    margin: 0 27px;
  }
}
@media screen and (max-width: 767px) {
  .profile {
    column-gap: 26px;
    flex-direction: column;
    margin: 0 18px;
  }
}
